@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: local('Nunito Light'), local('Nunito-Light'),
       url('../fonts/nunito-v12-latin-300.woff2') format('woff2'),
       url('../fonts/nunito-v12-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'),
       url('../fonts/nunito-v12-latin-regular.woff2') format('woff2'),
       url('../fonts/nunito-v12-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  src: local('Nunito Italic'), local('Nunito-Italic'),
       url('../fonts/nunito-v12-latin-italic.woff2') format('woff2'),
       url('../fonts/nunito-v12-latin-italic.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  src: local('Nunito SemiBold'), local('Nunito-SemiBold'),
       url('../fonts/nunito-v12-latin-600.woff2') format('woff2'),
       url('../fonts/nunito-v12-latin-600.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Bold'), local('Nunito-Bold'),
       url('../fonts/nunito-v12-latin-700.woff2') format('woff2'),
       url('../fonts/nunito-v12-latin-700.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: local('Nunito Black'), local('Nunito-Black'),
       url('../fonts/nunito-v12-latin-900.woff2') format('woff2'),
       url('../fonts/nunito-v12-latin-900.woff') format('woff');
}
