body {background: #e6e9ec; color: #111;}
.nav, .main-area, .container {max-width: 1200px; margin: auto; padding: 1.5rem;}
.banner, .nav, .nav-menu {background: #001f3f;}
a {color: #85144b; border-bottom: 1px dotted #aaa;}
a:hover {color: #111;}
.emphasis {font-weight: 700 !important;}
.content, .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {color: #111;}
.nav h1 {font-size: 1.75em; font-weight: 900;}
.remote-logo {margin-right: 0.2rem;}
.nav-menu {box-shadow: none;}
.nav-item {color: #eee; padding: 0;}
.nav-item a, a.nav-item {color: #eee; flex-grow: 0; border: none;}
.nav-item a:hover, a.nav-item:hover {color: #fff;}
.nav-item.thats-me {align-items: baseline; margin-top: .6rem;}
.nav-item.thats-me a {margin-left: 0.3rem; border-bottom: 1px dotted rgba(255,255,255,0.4);}
.nav .nav-button {background: #85144b; padding: 1.3rem 1rem; margin-left: 1.2rem;}
.nav .nav-button:hover {background: #781244;}
.hero.is-dark, .hero.is-info .hero-body {background: #1a3552; background: repeating-linear-gradient(0deg, rgba(0, 31, 63, .95), rgba(0, 31, 63, 0.95) 1px, rgba(0, 31, 63, .9) 1px, rgba(0, 31, 63, 0.9) 2px);}
.hero.is-info {background: #1a3552 url('//edelstone.github.io/best-remote/images/map.jpg');}
.main-area {margin-top: 0.5rem;}
.card {margin-bottom: 1rem;}
.card-footer {border: none;}
.card-footer .card-footer-item {color: #fff; border: none;}
.card-link-1 {background: #001f3f;}
.card-link-1:hover {background: #1a3552;}
.card-link-2 {background: #317a5a;}
.card-link-2:hover {background: #378a65	;}
.card-link-3 {background: #85144b;}
.card-link-3:hover {background: #912c5d;}
.card .card-title {margin-bottom: -0.5rem; font-weight: 900;}
.card .card-title a {border: none;}
.card .card-sub {font-size: 0.8rem;}
.card .content .employee-count {margin-bottom: 0;}
.card .content .social-etc {margin: 0.8rem 0 1.5rem;}
.social-etc a {border: none;}
.social-etc .icon {margin-right: 0.3rem;}
.svg-icon:hover .glassdoor {fill: #111;}
.tag {margin-bottom: 0.5rem; margin-right: 0.1rem; font-size: 0.8rem;}
.tag-cloud {margin-top: 1.5rem;}
.tag.is-light {color: #111;}
.footer a {font-weight: bold;}
.footer {padding: 3rem 0; background: #ccd2d9;}
.footer .column.is-1 {text-align: right;}
.narrow-content {max-width: 700px; margin: auto;}
.about {margin: 1rem auto 2rem;}

@media (max-width: 768px) {
	.hero {margin-top: 7rem;}
	.nav-menu .nav-item {padding: 0.75rem 1.5rem;}
	.nav .nav-item, .nav .nav-left {border: none; justify-content: center; display: block; text-align: center; white-space: normal;}
	.nav .nav-button {width: 100%; margin-bottom: 1rem; margin-left: 0;}
	.nav-menu {margin-top: -1.5rem;}
	.nav-item.thats-me a {margin-left: 0;}
	.footer {text-align: center;}
	.footer .column.is-1 {text-align: center; margin-top: 1rem;}
}